# <u><center>Preparing Time Series from Wide-Form Data (Core)</u>
- Authored by: Eric N. Valdez
- Date: 2/6/2024

# <u>Preparing Time Series from Wide-Form Data

You will be working with Zillow's publicly available Zillow House Value Index (ZHVI) [https://www.zillow.com/research/data/](https://www.zillow.com/research/data/)

* Specifically, you will be using the Home Value data set for:
    * Data Type = "ZHVI All Homes (SFR+Condo/Coop) - Time Series - Smoothed - Seasonally Adjusted"
    * 
Geography = "City"

* We have already downloaded the file for you and uploaded it to Google Drive.    * Share URL: https://drive.google.com/file/d/1O_g44QAfe3uVF-1heAC0BAeVDoWloVR-/view?usp=sharin
    * Direct URL (for Pandas): https://docs.google.com/spreadsheets/d/e/2PACX-1vQN3Ksa9szQuO4G1-msXWAp17KtVHQCBnuEieu_auu1wSiBf3-krHusIx5VBMkihxj-KZLBosDIGEyR/pub?output=csv

## Task1

### <u>Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as mticks
import seaborn as sns


import missingno as miss
import datetime as dt
import statsmodels.tsa.api as tsa

## <u>Part 1

* First, you will prepare the dataset for time series analysis:
    * Load in the Zillow Home Value Index dataframe.
        * `Note: it is a large file and may take a minute to load`
    * Filter the 4 largest cities into a new dataframe.
        * Tip: the "SizeRank" column has already ranked the cities by size. The larger the city, the smaller the rank value.
            * Therefore the 4 largest cities would have rank values of [0,1,2,3]
    * Melt the data to long-form and prepare it for time series analysis.
        * Convert the melted dates into datetime datatype.
        * Make the datetime column the index.
    * Resample the dataframe as monthly frequency, grouped by City.

In [2]:
df = pd.read_csv('Data/City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month - City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0,255517.0,...,741586.0,745686.0,750578.0,756734.0,762321.0,768797.0,773944.0,777692.0,779960.0,781622.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0,234401.0,...,924019.0,928991.0,937936.0,953874.0,973168.0,990391.0,992337.0,992630.0,978196.0,966595.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0,109079.0,...,245783.0,248718.0,252080.0,256435.0,261101.0,265558.0,268901.0,271059.0,272400.0,272639.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0,166536.0,...,302821.0,305104.0,306404.0,308303.0,309649.0,312487.0,314663.0,315910.0,315587.0,315429.0
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,114794.0,114975.0,...,269323.0,274032.0,278464.0,284127.0,289739.0,294776.0,297727.0,298796.0,299124.0,298951.0

In [6]:
df['SizeRank'] = df['New York', 'Los Angeles', 'Houston', 'Chicago']
df.head()

KeyError: ('New York', 'Los Angeles', 'Houston', 'Chicago')

## <u>Part 2

* Once you've prepared the dataframe with the time series data for the 4 largest cities:    * Plot the home values for all 4 cities. `(Hint: use unstack)`.
        * Make sure to add a title and axis labels.
        * Reformat the y-axis ticks to use thousands of dollars with a "K" at the end. (e.g. "200K, 400K, etc")
            * `Hint:` use the FuncFormatter from matplotlib.

## **Answer the following 2 questions:**

### 1) Which City had the highest Typical Home Value at the end of 2008? Which had the least?
* `Hint:` You can use the unstacked dataframe or use pd.IndexSlice with the multiindex`.

### 2) How much did the home values change from November 2008 to December 2008 (in dollars)?* `
Hint`: you can use .diff() to calculate the change in values